div{
    width: 200px;
    height: 370px;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
}

#one {
    border-width: 5px;
    background-color: #e5989b;
    border-style: solid;
    border-color: black;
    border-radius:10px 100px / 120px ;
    
}

#two {
    border-width: 3px;
    background-color: #e5989b;
    border-color: #ffcdb2;
    border-style: dashed;
    border-left-width: 8px;
    border-left-color: black;
    border-radius:10px ;
}

button {
    padding: 10px 20px;
    border-radius: 50%;

}

.card {
    width: 210px;
    border-radius: 5px;
    border: 1px grey solid;
    text-align: center;
    
}

img{
    width: 200px;
    border-radius: 39%;
    border: 5px solid rgb(236, 183, 191);
}
