h1 {
    color: teal;
    background-color: plum;
}

h2 {
    color: magenta;
    background-color:tomato
}

button {
    color: blue;
    background-color: cyan;
}

p {
    color: oldlace
}

body {
    background-color: rgb(0, 200, 0);
}